.motocycles-values {
  height: 25px;
  padding: 2px;
  margin: 5px;
  border: 3px solid var(--primary);
  border-radius: 5px;
  background-color: var(--background);
  color: var(--white);


  &:focus {
      outline: none;
      border: 3px solid var(--primary);
  }

}

.motocycles-box-numbers {
  min-height: 25px;
  height: auto;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  background-color: var(--background);
  color: var(--white);

  display: flex;
  justify-content: center;
  align-items: ceter;
}

.motocycles-box-numbers tr,
.motocycles-box-numbers th {
  width:25%;
  border: 1px solid var(--primary);
  align-items: center;
  justify-content: center;

}

.motocycles-numbers {
  justify-self: center;
  align-self: center;
}
